@page
@model G1.health.AuthServer.Pages.Account.DisclaimerModalModel
@{
    Layout = null;
}

<abp-modal centered="true" size="Large">
    <abp-modal-header>
        <span class="header" style="text-align: center">@Model.Title</span>
    </abp-modal-header>
    <abp-modal-body>
        <span class="content" >
            @Html.Raw(@Model.DisclaimerContent)
        </span>
    </abp-modal-body>
    <abp-modal-footer buttons="Close"></abp-modal-footer>
</abp-modal>