@page
@model G1.health.AuthServer.Pages.Account.ThankYouModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = "Request Successful!";
    // <h4>Thank you for signing up! Quickly check your inbox for the verification link - clicking it will unlock your full access.  verify your email now to claim your place among our members, so that our team can reach out to you!</h4>
    <h4>Thank you for signing up! Please check your inbox for the verification link so that we can contact you. Our support specialist will be in touch to verify your details.</h4>
}
